#msgPopin {
    transition-property: all;
    transition-duration: .5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    left: -110%;
/*     width: auto;
    border-radius: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem; */
}

.open {
    left: 2rem!important;
}

.nav-close {
    display: none!important;
}
.nav-open {
    display: initial!important;
}

.fav-close {
    display: none!important;
}
.fav-open {
    display: initial!important;
}